### Review

1. is
    1. is - 뒤에 인자값을 넣어서,
    2. isna - 결측치가 있으면 True
    3. isin - 뒤에 나오는거에 앞에꺼가 있으면 True

2. loc & iloc   필터함수
    1. loc(행의 조건, 열의 조건)
    2. iloc(행의 위치, 열의 위치)

3. describe : 통계요약정보

4. drop & drop na

5. sort
    - 차순 정렬 True = 오름차순, False = 내림차순
    - index 기준 
    - value 기준

In [1]:
import pandas as pd

### 연습문제 
1. csv 폴더에 있는 Sales Records.csv 파일 로드 
2. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel' 컬럼을 삭제
3. 컬럼의 이름을 변경 -> ['권역', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '단가', '원가']
4. 권역과 국가를 기준으로 오름차순으로 정렬
5. index를 초기화하고 기존의 인덱스는 삭제

In [35]:
_sales = pd.read_csv('../csv/Sales Records.csv')

In [36]:
# _sales.head(3)

# _sales 컬럼 삭제 - chatGPT한테 물어봐서 알게 된 labels =[] 

_sales.drop(labels = ["Order ID", 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel'], axis = 1, inplace = True)

# _sales.head(3)

In [37]:
#컬럼 이름 바꿀거야 
_sales.columns = ['권역', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']
_sales.head(3)

,권역,국가,상품종류,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Sub-Saharan Africa,Chad,Office Supplies,L,1/27/2011,2/12/2011,4484,651.21,524.96
1,Europe,Latvia,Beverages,C,12/28/2015,1/23/2016,1075,47.45,31.79
2,Middle East and North Africa,Pakistan,Vegetables,C,1/13/2011,2/1/2011,6515,154.06,90.93

In [53]:
#오름차순 - 권역, 국가 기준

# _sales.sort_values('권역', inplace = True)
# _sales.sort_values('국가', inplace = True)

_sales.sort_values(by=['권역','국가'], ascending = [True, True], inplace = True)

_sales

,권역,국가,상품종류,우선순위,주문일자,발송일자,판매단위,단가,원가
36,Asia,Bangladesh,Personal Care,L,12/11/2016,1/13/2017,9420,81.73,56.67
246,Asia,Bangladesh,Cosmetics,M,7/29/2010,9/11/2010,577,437.20,263.33
446,Asia,Bangladesh,Vegetables,C,4/28/2014,5/5/2014,34,154.06,90.93
569,Asia,Bangladesh,Cereal,L,6/22/2010,6/28/2010,9768,205.70,117.11
576,Asia,Bangladesh,Office Supplies,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...
8747,Sub-Saharan Africa,Zimbabwe,Clothes,H,11/27/2013,1/9/2014,8431,109.28,35.84
9025,Sub-Saharan Africa,Zimbabwe,Baby Food,M,3/11/2013,3/11/2013,9304,255.28,159.42
9219,Sub-Saharan Africa,Zimbabwe,Clothes,H,6/9/2010,7/20/2010,3235,109.28,35.84
9541,Sub-Saharan Africa,Zimbabwe,Fruits,C,11/20/2015,11/27/2015,5904,9.33,6.92
9645,Sub-Saharan Africa,Zimbabwe,Cereal,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [55]:
# 인덱스 초기화

_sales.reset_index(drop = True, inplace = True)
_sales

,권역,국가,상품종류,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Asia,Bangladesh,Personal Care,L,12/11/2016,1/13/2017,9420,81.73,56.67
1,Asia,Bangladesh,Cosmetics,M,7/29/2010,9/11/2010,577,437.20,263.33
2,Asia,Bangladesh,Vegetables,C,4/28/2014,5/5/2014,34,154.06,90.93
3,Asia,Bangladesh,Cereal,L,6/22/2010,6/28/2010,9768,205.70,117.11
4,Asia,Bangladesh,Office Supplies,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Clothes,H,11/27/2013,1/9/2014,8431,109.28,35.84
9996,Sub-Saharan Africa,Zimbabwe,Baby Food,M,3/11/2013,3/11/2013,9304,255.28,159.42
9997,Sub-Saharan Africa,Zimbabwe,Clothes,H,6/9/2010,7/20/2010,3235,109.28,35.84
9998,Sub-Saharan Africa,Zimbabwe,Fruits,C,11/20/2015,11/27/2015,5904,9.33,6.92
9999,Sub-Saharan Africa,Zimbabwe,Cereal,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [34]:
# Moon_sol
# 파일로드 : 상위폴더 - csv - Sales Records.csv


sales = pd.read_csv("../csv/Sales Records.csv")

In [40]:
# 하나씩 컬럼 지우기 

sales = sales.drop('Order ID', axis = 1)

In [44]:
# 나머지 4개 컬럼은 동시에 지워보자
# 여러 원소를 하나의 매개변수로 집어넣어서 axis = 1을 하나에 적용
# 물론 그 하나에 여러 원소가 들어가있어서 일괄 적용 

sales.drop(['Sales Channel',
             'Total Revenue',
               'Total Cost',
                 'Total Profit'], axis = 1, inplace = True)

In [46]:
#컬럼 이름 바꾸기
#sales.columns : sales라는 클래쓰의 컬럼이라는 변수 

sales.columns = ['권역', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']

In [49]:
# 권역, 국가를 기준으로 오름차순 정렬

sales.sort_values(['권역', '국가'], inplace = True)

In [52]:
# 인덱스 초기화 후 기존 인덱스 삭제

sales.reset_index(drop = True, inplace = True)

- new 파생 변수 생성
    1. 총단가 = 판매단위 * 단가
    2. 총원가 = 판매단위 * 원가
    3. 총이윤 = 총단가 - 총원가

In [58]:
# 스리즈 곱하기 스리즈 = 스리즈
sales['총단가'] = sales['판매단위'] * sales['단가']

In [59]:
sales['총원가'] = sales['판매단위'] * sales['원가']

In [60]:
# 총이윤 = 총단가 - 총원가

sales['총이윤'] = sales['총단가'] - sales['총원가']

In [61]:
sales.tail(5)

,권역,국가,상품종류,우선순위,주문일자,발송일자,판매단위,단가,원가,총단가,총원가,총이윤
9995,Sub-Saharan Africa,Zimbabwe,Clothes,H,11/27/2013,1/9/2014,8431,109.28,35.84,921339.68,302167.04,619172.64
9996,Sub-Saharan Africa,Zimbabwe,Baby Food,M,3/11/2013,3/11/2013,9304,255.28,159.42,2375125.12,1483243.68,891881.44
9997,Sub-Saharan Africa,Zimbabwe,Clothes,H,6/9/2010,7/20/2010,3235,109.28,35.84,353520.80,115942.40,237578.40
9998,Sub-Saharan Africa,Zimbabwe,Fruits,C,11/20/2015,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9999,Sub-Saharan Africa,Zimbabwe,Cereal,H,2/15/2010,3/1/2010,7309,205.70,117.11,1503461.30,855956.99,647504.31

In [66]:
# 국가 컬럼의 데이터가 항목들의 카운트를 출력하는 함수

sales['국가'].value_counts().index

Index(['Lithuania', 'United Kingdom', 'Moldova ', 'Croatia', 'Seychelles ',
       'Botswana', 'Montenegro', 'Kiribati', 'Malawi', 'Canada',
       ...
       'Eritrea', 'Belize', 'Cape Verde', 'Belgium', 'Nicaragua', 'Slovakia',
       'Greenland', 'Tajikistan', 'Saint Lucia', 'Mali'],
      dtype='object', length=185)

In [77]:
_list = sales['국가'].unique()   # unipue 라는 함수 : 배열이나 series에서 중복되지 않는 고유한 값을 추출

In [78]:
# 국가 하나를 선택 후, 그 국가의 총이윤의 합계


# sales.loc[sales['국가'] == 'South Korea', '총이윤']

sales.loc[sales['국가'] == 'South Korea'] ['총이윤'].sum()

23893933.75

In [79]:
profit_list ={}   # 반복문 위해 초기값을 설정 


for i in _list : 

    #총이윤의 합계 
    total_profit = sales.loc[sales['국가']== i ]['총이윤'].sum()
    profit_list[i] = total_profit

In [81]:
pd.Series(profit_list).sort_values(ascending = False)

Kiribati      32454798.26
Qatar         30861356.79
Grenada       30302769.90
Taiwan        30044779.98
Malawi        29329125.05
                 ...
Cape Verde    14383303.52
Italy         14199991.25
Malta         14163744.55
Mali          13800334.90
Tajikistan    13662027.26
Length: 185, dtype: float64

In [89]:
profit_list.values()

dict_values([28092720.770000003, 23833769.239999995, 21198560.200000003, 23744162.89, 24708015.720000003, 24289892.460000005, 16010222.29, 18574894.88, 23265602.749999996, 22736962.389999997, 18775038.479999997, 16015753.2, 22027274.19, 25107838.949999996, 18948513.110000003, 16677397.509999998, 22062373.05, 24616126.67, 14709325.91, 23893933.75, 22393764.24, 30044779.98, 13662027.260000002, 20707529.619999997, 22995182.160000004, 24896258.16, 23415377.02, 22393836.8, 15514056.290000001, 24231292.529999997, 23738722.65, 32454798.259999998, 17438109.330000002, 18646871.84, 25895477.039999995, 23894809.949999996, 22083108.349999998, 19499628.09, 17814961.649999995, 17229813.759999998, 23279592.0, 19956132.869999997, 17792979.410000004, 19091685.05, 14384763.7, 18931889.28, 17888775.8, 19953536.129999995, 18082348.470000003, 26661333.33, 30302769.9, 22478915.509999998, 20239742.029999994, 23919286.869999997, 19610345.959999997, 17843364.299999997, 22253481.509999998, 23055279.040000007, 16973452.63, 18375321.24, 17012150.990000002, 18506428.57, 19583969.700000003, 16653936.870000001, 15509887.290000001, 26799045.64, 18612786.01, 19992722.34, 24070486.579999994, 20787888.73, 26096999.840000004, 21441456.669999994, 19679058.240000006, 23120649.29, 19139460.849999998, 23066495.2, 19199104.959999993, 21670883.449999996, 25249874.359999996, 25308983.419999998, 15943684.1, 26554631.849999998, 27807805.050000004, 14199991.249999996, 20595410.25, 17878505.86, 23301377.830000002, 28063374.019999996, 21219788.11, 20092232.369999997, 14163744.549999999, 25700896.769999996, 17391076.44, 22082815.770000007, 23340250.869999997, 18836470.189999998, 22846126.09, 25449810.79, 21184881.839999996, 24860366.229999997, 18369190.229999997, 23310104.509999998, 20322490.05, 22158888.66, 20406015.35, 18874303.51, 22497403.849999998, 21057819.959999997, 25528037.97, 16978429.04, 22977020.059999995, 22125886.639999997, 25826707.999999996, 27517228.199999996, 24253082.98, 24141593.919999998, 19631817.380000003, 21072528.91, 21165744.029999997, 24806422.689999998, 20381122.180000003, 18622683.36, 26827648.119999997, 18611356.62, 19728342.380000003, 30861356.79, 21007766.990000002, 23285546.1, 14536103.719999999, 26189597.159999996, 15019621.170000002, 24667842.060000002, 16666875.070000002, 26880954.799999997, 21588001.479999997, 24491787.4, 26534771.439999998, 19596150.58, 22273920.68, 29019726.669999998, 23363130.599999998, 27911293.449999996, 19125131.249999996, 14383303.520000001, 18990655.55, 22863353.099999998, 17670491.47, 14521698.84, 20433705.790000003, 18127339.099999998, 15561670.410000002, 20805875.41, 26936729.400000002, 17988031.400000006, 21031887.89, 21702071.21, 23049675.020000003, 20805944.22, 16821465.939999998, 15406339.429999998, 21260893.289999995, 29329125.05, 13800334.9, 17659556.279999997, 19702913.750000004, 20902729.009999998, 16774838.75, 22306185.25, 24139351.98, 16694580.900000002, 27726111.499999996, 14810451.219999999, 24776094.02, 23695801.12, 19665083.039999995, 18511026.569999997, 21193783.380000003, 22945568.529999997, 25107661.700000003, 21152258.929999992, 18318875.150000002, 20026536.18, 25940655.31, 23637453.000000004, 21174631.759999998])

In [90]:
profit_list.keys()

dict_keys(['Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'India', 'Indonesia', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Laos', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Philippines', 'Singapore', 'South Korea', 'Sri Lanka', 'Taiwan', 'Tajikistan', 'Thailand', 'Turkmenistan', 'Uzbekistan', 'Vietnam', 'Australia', 'East Timor', 'Federated States of Micronesia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa ', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu', 'Antigua and Barbuda ', 'Barbados', 'Belize', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis ', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'The Bahamas', 'Trinidad and Tobago', 'Albania', 'Andorra', 'Armenia', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova ', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City', 'Afghanistan', 'Algeria', 'Azerbaijan', 'Bahrain', 'Egypt', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Somalia', 'Syria', 'Tunisia ', 'Turkey', 'United Arab Emirates', 'Yemen', 'Canada', 'Greenland', 'Mexico', 'United States of America', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', "Cote d'Ivoire", 'Democratic Republic of the Congo', 'Djibouti', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius ', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Republic of the Congo', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles ', 'Sierra Leone', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 'Tanzania', 'The Gambia', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'])

In [91]:
pd.DataFrame(profit_list.values(), 
             profit_list.keys(), 
             columns = ['SUM'])

                    SUM
Bangladesh  28092720.77
Bhutan      23833769.24
Brunei      21198560.20
Cambodia    23744162.89
China       24708015.72
...                 ...
The Gambia  18318875.15
Togo        20026536.18
Uganda      25940655.31
Zambia      23637453.00
Zimbabwe    21174631.76

[185 rows x 1 columns]

In [97]:
# 그룹화 함수

# groupby() : 

# 인자값 : 특정 컬럼을 지정 - 어떤 컬럼을 가지고 그룹화 할거야?

# sales.groupby('국가').sum() #국가의 values들 중 숫자(int, float)들만 더해져  # 여기까지는 단일 index, 단일 column

group_data = sales.groupby(['권역','국가']).sum() # 멀티 인덱스 2개

C:\Users\zino0\AppData\Local\Temp\ipykernel_23316\2117614192.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_data = sales.groupby(['권역','국가']).sum() # 멀티 인덱스 2개

In [99]:
group_data.index  # 멀티 인덱스 되니까 리스트 안에 튜플의 형태 즉, 2차원 배열

MultiIndex([(              'Asia',   'Bangladesh'),
            (              'Asia',       'Bhutan'),
            (              'Asia',       'Brunei'),
            (              'Asia',     'Cambodia'),
            (              'Asia',        'China'),
            (              'Asia',        'India'),
            (              'Asia',    'Indonesia'),
            (              'Asia',        'Japan'),
            (              'Asia',   'Kazakhstan'),
            (              'Asia',   'Kyrgyzstan'),
            ...
            ('Sub-Saharan Africa', 'South Africa'),
            ('Sub-Saharan Africa',  'South Sudan'),
            ('Sub-Saharan Africa',        'Sudan'),
            ('Sub-Saharan Africa',    'Swaziland'),
            ('Sub-Saharan Africa',     'Tanzania'),
            ('Sub-Saharan Africa',   'The Gambia'),
            ('Sub-Saharan Africa',         'Togo'),
            ('Sub-Saharan Africa',       'Uganda'),
            ('Sub-Saharan Africa',       'Zambia'),
            ('Sub-Saharan Africa',     'Zimbabwe')],
           names=['권역', '국가'], length=185)

In [103]:
# group_data에서 한국의 데이터만 출력하려면? 

# sales.loc[1]
group_data.loc[('Asia', 'South Korea')] # 인덱스의 형태가 튜플이기때문에, 인덱스 형태에 맞게 불러와줘야해

판매단위      319921.00
단가         17190.51
원가         12337.75
총단가     88488084.46
총원가     64594150.71
총이윤     23893933.75
Name: (Asia, South Korea), dtype: float64

### sales에서 상품의 종류에 따라 총 이윤이 가장 높은 물건은 무엇일까요?
    1. sales 데이터에서 그룹화 진행 -> 그룹조건: 상품종류
    2. 그룹화된 데이터에서 총 이윤이라는 컬럼의 데이터의 평균을 출력
    3. 총이윤의 평균값을 기준으로 내림차순 정렬 
    4. ?????

In [111]:
_type_group = sales.groupby('상품종류').mean()

_type_group

C:\Users\zino0\AppData\Local\Temp\ipykernel_23316\3407296442.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  _type_group = sales.groupby('상품종류').mean()

,판매단위,단가,원가,총단가,총원가,총이윤
상품종류,,,,,,
Baby Food,4984.567696,255.28,159.42,1.272460e+06,7.946398e+05,477820.659335
Beverages,5000.557545,47.45,31.79,2.372765e+05,1.589677e+05,78308.731151
Cereal,5095.023030,205.70,117.11,1.048046e+06,5.966781e+05,451368.090255
Clothes,4991.227064,109.28,35.84,5.454413e+05,1.788856e+05,366555.715596
Cosmetics,4920.011990,437.20,263.33,2.151029e+06,1.295587e+06,855442.484772
Fruits,5101.787421,9.33,6.92,4.759968e+04,3.530437e+04,12295.307686
Household,4956.346286,668.27,502.54,3.312178e+06,2.490762e+06,821415.269931
Meat,4994.223058,421.89,364.69,2.107013e+06,1.821343e+06,285669.558897
Office Supplies,4922.655914,651.21,524.96,3.205683e+06,2.584197e+06,621485.309140
Personal Care,4958.138514,81.73,56.67,4.052287e+05,2.809777e+05,124250.951149
Snacks,5052.427696,152.58,97.44,7.708994e+05,4.923086e+05,278590.863162
Vegetables,5069.495215,154.06,90.93,7.810064e+05,4.609692e+05,320037.232943

In [112]:
_type_group.index

Index(['Baby Food', 'Beverages', 'Cereal', 'Clothes', 'Cosmetics', 'Fruits',
       'Household', 'Meat', 'Office Supplies', 'Personal Care', 'Snacks',
       'Vegetables'],
      dtype='object', name='상품종류')

In [115]:
_type_mean = _type_group.loc[:, '총이윤']
_type_mean

상품종류
Baby Food          477820.659335
Beverages           78308.731151
Cereal             451368.090255
Clothes            366555.715596
Cosmetics          855442.484772
Fruits              12295.307686
Household          821415.269931
Meat               285669.558897
Office Supplies    621485.309140
Personal Care      124250.951149
Snacks             278590.863162
Vegetables         320037.232943
Name: 총이윤, dtype: float64

In [134]:
_type_descending = _type_mean.sort_values(ascending = False)
_type_descending

상품종류
Cosmetics          855442.484772
Household          821415.269931
Office Supplies    621485.309140
Baby Food          477820.659335
Cereal             451368.090255
Clothes            366555.715596
Vegetables         320037.232943
Meat               285669.558897
Snacks             278590.863162
Personal Care      124250.951149
Beverages           78308.731151
Fruits              12295.307686
Name: 총이윤, dtype: float64

In [136]:
_type_descending.index[0]

'Cosmetics'

In [142]:
_type_descending.index[~0]

'Fruits'

In [146]:
# Moon_Sol

group_data = sales.groupby('상품종류').mean()[['총이윤']]
group_data

C:\Users\zino0\AppData\Local\Temp\ipykernel_23316\4259802205.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_data = sales.groupby('상품종류').mean()[['총이윤']]

                           총이윤
상품종류
Baby Food        477820.659335
Beverages         78308.731151
Cereal           451368.090255
Clothes          366555.715596
Cosmetics        855442.484772
Fruits            12295.307686
Household        821415.269931
Meat             285669.558897
Office Supplies  621485.309140
Personal Care    124250.951149
Snacks           278590.863162
Vegetables       320037.232943

In [150]:
ddf = group_data.sort_values('총이윤', ascending = False)
ddf

                           총이윤
상품종류
Cosmetics        855442.484772
Household        821415.269931
Office Supplies  621485.309140
Baby Food        477820.659335
Cereal           451368.090255
Clothes          366555.715596
Vegetables       320037.232943
Meat             285669.558897
Snacks           278590.863162
Personal Care    124250.951149
Beverages         78308.731151
Fruits            12295.307686

In [152]:
ddf.head(1).index[0]

'Cosmetics'

In [155]:
ddf.index[0]

'Cosmetics'

In [156]:
ddf.index[-1]

'Fruits'