# 볼린저 밴드 함수화 
1. 첫번째 함수를 생성 (매개변수 데이터프레임 하나)
    1. 결측치와 이상치를 제거
    2. 컬럼을 종가만 두고 모두 삭제
    3. 이동평균선, 상단 밴드, 하단 밴드 파생변수 생성
2. 두번째 함수를 생성 (매개변수 데이터프레임 하나)
    1. 거래 내역이라는 파생변수 생성 "" <-비어있는 형태로
    2. 볼린저 밴드의 거래 내역을 추가
    3. trade print
3. 세번째 함수를 생성(매개변수 데이터프레임 하나)
    1. 수익률 파생변수 생성 "1"
    2. 판매를 한 날의 수익률 변경
    3. 누적수익률 계산하여 새로운 파생변수를 생성
    4. 최종 누적수익률을 출력(print)

In [64]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from datetime import datetime

import platform
plt.rc('font', family = 'Malgun Gothic')

In [95]:
#Moon_sol 

# 1번 함수 생성

def create_band(df) :
    df = df.loc[~df.isin([np.nan, np.inf, -np.inf]).any(axis='columns'), ['Adj Close']]
    df['center'] = df.rolling(20).mean()
    df['ub'] = df['center'] + (2* df['Adj Close'].rolling(20).std())
    df['lb'] = df['center'] - (2* df['Adj Close'].rolling(20).std())
    
    return df

In [96]:
_df = pd.read_csv('../csv/GM.csv', index_col='Date')

In [97]:
_df = create_band(_df)

In [98]:
def add_trade(df) : 
    df['trade'] = ""
    for i in df.index : 
    # 상단 밴드보다 종가가 높은 경우
        if df.loc[i, 'Adj Close'] > df.loc[i, 'ub']:
        # 현재 구매 상태이면(전날 'trade'가 'buy')
            if df.shift(1).loc[i, 'trade'] == 'buy' : 
            #매도
                df.loc[i, 'trade'] = ''
            else : 
                df.loc[i, 'trade'] = ''
    # 하단 밴드보다 종가가 낮은 경우
        elif df.loc[i, 'Adj Close'] < df.loc[i, 'lb'] : 
        # 현재 구매상태이면,
            if df.shift(1).loc[i, 'trade'] == 'buy' :
            # 구매 상태를 유지 
                df.loc[i, 'trade'] = 'buy'
            else : 
            #매수
                df.loc[i, 'trade'] = 'buy'

        else :
        # 현재 구매상태이면
            if df.shift(1).loc[i , 'trade'] == 'buy' : 
                df.loc[i, 'trade'] = 'buy'
            else :
                df.loc[i, 'trade'] = ''
    
      
    return df

In [99]:
add_trade(_df)['trade'].value_counts()

buy    1130
       1032
Name: trade, dtype: int64

In [35]:
# 세번째 함수 생성

def (df) :
    rtn = 1.0
    df['수익률'] = 1
    buy = 0.0
    sell = 0.0

    for i in df.index :
    # 구매가 출력
        if (df.shift(1).loc[i, 'trade'] == '') and (df.loc[i, 'trade'] == 'buy') :
            buy = df.loc[i, 'Adj Close']
        
    # 판매가 출력
        elif (df.shift(1).loc[i, 'trade'] == 'buy') and (x.loc[i, 'trade'] == '') :
            sell = df.loc[i, 'Adj Close']
            rtn = (sell-buy) / buy + 1
            df.loc[i, 'return'] = rtn
           

    # 구매가, 판매가 초기화 
        if df.loc[i, 'trade'] == '':
            buy = 0.0
            sell = 0.0


    acc_rtn = 1.0

    for i in df.index :
        rtn = df.loc[i, '수익률']
        acc_rtn *= rtn
        df.loc[i, '누적수익률'] = acc_rtn

    

    print('누적수익률 : ', df)
    return df

In [37]:
_df3 = bb_3(_df2)
_df3

              Adj Close       center           ub           lb 거래내역  수익률  \
Date
1997-05-15     1.958333          NaN          NaN          NaN         1
1997-05-16     1.729167          NaN          NaN          NaN         1
1997-05-19     1.708333          NaN          NaN          NaN         1
1997-05-20     1.635417          NaN          NaN          NaN         1
1997-05-21     1.427083          NaN          NaN          NaN         1
...                 ...          ...          ...          ...  ...  ...
2019-06-18  1901.369995  1821.456500  1935.384678  1935.384678         1
2019-06-19  1908.790039  1824.020001  1943.535145  1943.535145         1
2019-06-20  1918.189941  1826.945495  1952.830613  1952.830613         1
2019-06-21  1911.300049  1831.736499  1962.964470  1962.964470         1
2019-06-24  1907.953857  1835.970190  1971.444249  1971.444249         1

            누적수익률
Date
1997-05-15    1.0
1997-05-16    1.0
1997-05-19    1.0
1997-05-20    1.0
1997-05-21    1.0
...           ...
2019-06-18    1.0
2019-06-19    1.0
2019-06-20    1.0
2019-06-21    1.0
2019-06-24    1.0

[5563 rows x 7 columns]

,Adj Close,center,ub,lb,거래내역,수익률,누적수익률
Date,,,,,,,
1997-05-15,1.958333,NaN,NaN,NaN,,1,1.0
1997-05-16,1.729167,NaN,NaN,NaN,,1,1.0
1997-05-19,1.708333,NaN,NaN,NaN,,1,1.0
1997-05-20,1.635417,NaN,NaN,NaN,,1,1.0
1997-05-21,1.427083,NaN,NaN,NaN,,1,1.0
...,...,...,...,...,...,...,...
2019-06-18,1901.369995,1821.456500,1935.384678,1935.384678,,1,1.0
2019-06-19,1908.790039,1824.020001,1943.535145,1943.535145,,1,1.0
2019-06-20,1918.189941,1826.945495,1952.830613,1952.830613,,1,1.0
2019-06-21,1911.300049,1831.736499,1962.964470,1962.964470,,1,1.0
2019-06-24,1907.953857,1835.970190,1971.444249,1971.444249,,1,1.0

In [ ]:
# Moon_Sol