In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import factorial

In [2]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
range(10)

range(0, 10)

In [11]:
np.array(10)

array(10)

In [4]:
a= []
i = 1

a += [i]
a

[1]

In [8]:
for i in  range(2, 2,1):
    print(i)

In [ ]:
df.sort_values('A', inplace = True)

df.reset_index(drop=True, inplace= True)
df

In [5]:
pd.read_csv('../Code_Moon/level_test/2014.csv', encoding= 'euc_kr')

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [6]:
pd.read_csv('../Code_Moon/level_test/세종시.csv', encoding= 'euc_kr')

C:\Users\zino0\AppData\Local\Temp\ipykernel_12652\1863494792.py:1: DtypeWarning: Columns (5,11,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../Code_Moon/level_test/세종시.csv', encoding= 'euc_kr')

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,기준연도,기준월,공동주택코드,공동주택구분코드,공동주택구분명,특수지명,공동주택명,동명,층명,호명,전용면적,공시가격,데이터기준일자
0,3611010100100350005,3611010100,세종특별자치시 반곡동,1,일반,35-5,2020,1,20393439,1,아파트,4-1생활권 M1블록,수루배마을1단지,101동,12,1201,96.93,475000000,2020-07-27
1,3611010100100350005,3611010100,세종특별자치시 반곡동,1,일반,35-5,2020,1,20393439,1,아파트,4-1생활권 M1블록,수루배마을1단지,101동,12,1202,96.93,475000000,2020-07-27
2,3611010100100350005,3611010100,세종특별자치시 반곡동,1,일반,35-5,2020,1,20393439,1,아파트,4-1생활권 M1블록,수루배마을1단지,101동,12,1203,96.79,506000000,2020-07-27
3,3611010100100350005,3611010100,세종특별자치시 반곡동,1,일반,35-5,2020,1,20393439,1,아파트,4-1생활권 M1블록,수루배마을1단지,101동,12,1204,96.81,500000000,2020-07-27
4,3611010100100350005,3611010100,세종특별자치시 반곡동,1,일반,35-5,2020,1,20393439,1,아파트,4-1생활권 M1블록,수루배마을1단지,101동,13,1301,96.93,483000000,2020-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680243,3611039023104670000,3611039023,세종특별자치시 소정면 대곡리,1,일반,467,2022,1,12199121,5,다세대,NaN,대명아트빌라,NaN,2,203,50.10,21300000,2022-07-26
680244,3611039023104670000,3611039023,세종특별자치시 소정면 대곡리,1,일반,467,2022,1,12199121,5,다세대,NaN,대명아트빌라,NaN,3,303,50.10,20200000,2022-07-26
680245,3611039023104670000,3611039023,세종특별자치시 소정면 대곡리,1,일반,467,2022,1,12199121,5,다세대,NaN,대명아트빌라,NaN,3,302,53.34,22100000,2022-07-26
680246,3611039023104670000,3611039023,세종특별자치시 소정면 대곡리,1,일반,467,2022,1,12199121,5,다세대,NaN,대명아트빌라,NaN,3,301,53.34,22100000,2022-07-26
680247,3611039023104670000,3611039023,세종특별자치시 소정면 대곡리,1,일반,467,2022,1,12199121,5,다세대,NaN,대명아트빌라,NaN,1,101,53.34,20300000,2022-07-26