In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import factorial

In [2]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
range(10)

range(0, 10)

In [11]:
np.array(10)

array(10)

In [4]:
a= []
i = 1

a += [i]
a

[1]

In [8]:
for i in  range(2, 2,1):
    print(i)

In [ ]:
df.sort_values('A', inplace = True)

df.reset_index(drop=True, inplace= True)
df

In [5]:
pd.read_csv('../Code_Moon/level_test/2014.csv', encoding= 'euc_kr')

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [4]:
a= [1,2]
b = [1]

b==a

False