### 공기의 질을 측정한 데이터
1. airquanlity 데이터에 대해서 결측치가 가장 많은 변수를 찾아서 해당 결측치를 0으로 대체하고 결측치를 제외한 평균과 0으로 대치한 후 평균의 차이를 구하시오
2. wind 변수에 대해서 Min-Max 정규화를 수행 한 후 평균 값과 Z 정규화를 수행 한 후 평균 값의 차이를 구하시오
3. 월별 평균 기온을 구하시오

> 1-1 결측치 처리 후 평균 차이 구하기

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/shoni/Documents/GitHub/ML/DA_python/test/data/airquality.csv')
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [39]:
origin = df.copy()
# df = origin.copy()

In [8]:
# Ozone의 결측치가 제일 많다
# 1. 결측치 0으로 대체
df['Ozone_1'] = df['Ozone'].fillna(0)
mean_1 = df['Ozone_1'].mean()

In [9]:
# 2. 결측치 평균으로 대체
df['Ozone_2'] = df['Ozone'].fillna(df['Ozone'].mean())
mean_2 = df['Ozone_2'].mean()

In [10]:
# 평균의 차
if mean_1 > mean_2 :
    print(mean_1 - mean_2)
else :
    print(mean_2 - mean_1)

10.188133874239352

> 1-2 정규화 수행후 평균 차이 구하기

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
# 1. MinMax 정규화
MmScaler = MinMaxScaler()

df['Wind_Mm'] = MmScaler.fit_transform(df[['Wind']])
mean_Mm = df['Wind_Mm'].mean()

In [13]:
# 2. Standard 정규화
from sklearn.preprocessing import StandardScaler

StdScaler = StandardScaler()

df['Wind_Z'] = MmScaler.fit_transform(df[['Wind']])
mean_Z = df['Wind_Z'].mean()

In [15]:
# 평균의 차
if mean_Mm > mean_Z :
    print("{:.10f}".format(mean_Mm - mean_Z))
else :
    print("{:.10f}".format(mean_Z - mean_Mm))

0.0000000000

> 월별 평균기온

In [23]:
df.head()

,Ozone,Solar.R,Wind,Temp,Month,Day,Ozone_1,Ozone_2,Wind_Mm,Wind_Z
0,41.0,190.0,7.4,67,5,1,41.0,41.00000,0.300000,0.300000
1,36.0,118.0,8.0,72,5,2,36.0,36.00000,0.331579,0.331579
2,12.0,149.0,12.6,74,5,3,12.0,12.00000,0.573684,0.573684
3,18.0,313.0,11.5,62,5,4,18.0,18.00000,0.515789,0.515789
4,NaN,NaN,14.3,56,5,5,0.0,42.12931,0.663158,0.663158

In [30]:
df_group = df.groupby('Month')['Temp'].mean()
print(df_group)

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

### 근무자 정보를 측정한 데이터
1. Attrition은 퇴사 여부 데이터를 (yes:1, no:0)으로 데이터를 변환하여 새로운 파생변수에 대입하고 범주별 레코드 수를 계산하시오
2. 범주형 변수 중 유일한 값을 1개만 가지고 있는 컬럼을 찾아내어 그 컬럼을 데이터에서 제거하시오
3. 원래 데이터에서 숫자형인 컬럼만 추출하여 새로운 데이터프레임으로 생성하고, 각 변수간의 상관계수(피어슨 상관계수)를 구하시오